@import './../../../styles/utils/variables';

.toolbar {
  position: fixed;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12);
  z-index: 1;
  top: 0;
  padding: 0;
}

.list-card {
  padding: 0;
}

.list-table {
  width: 100%;
}

.list-table--row {

  &:nth-child(odd) {
    background-color: $colorBlackLightest;
  }

  &:hover {
    background-color: $colorPrimary;
    cursor: pointer;

    td {
      color: $colorWhite;
    }
  }

  &:focus {
    outline-color: $colorPrimaryDark;
  }
}

.list-table--flag {
  margin-right: 1.5rem;
  width: 2.5rem;
}

.search {
  padding: 30px;
}
